<div class="charts-container">
    <div class="chart-container">
        <div class="chart-title">Tecnologías</div>
        <ngx-charts-pie-chart
            [view]="doughnutChartOptions.view"
            [results]="technologiesData"
            [legend]="showLegend"
            [labels]="showLabels"
            [doughnut]="true"
            [scheme]="doughnutChartOptions.colorScheme">
        </ngx-charts-pie-chart>
    </div>

    <div class="chart-container">
        <div class="chart-title">Empresas</div>
        <ngx-charts-bar-vertical
            [view]="barChartOptions.view"
            [results]="companiesData"
            [scheme]="barChartOptions.colorScheme"
            [xAxis]="barChartOptions.showXAxis"
            [yAxis]="barChartOptions.showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="barChartOptions.showXAxisLabel"
            [xAxisLabel]="barChartOptions.xAxisLabel"
            [showYAxisLabel]="barChartOptions.showYAxisLabel"
            [yAxisLabel]="barChartOptions.yAxisLabel">
        </ngx-charts-bar-vertical>
    </div>
</div>
