<h1 mat-dialog-title>Detalles de la Oferta</h1>
<div mat-dialog-content>
    <p><strong>Región:</strong> {{data.regionName}}</p>
    <p><strong>Total de Ofertas:</strong> {{data.totalOffers}}</p>

    <div class="bar-container">
        <div *ngFor="let company of data.companies | keyvalue" class="bar">
            <span>{{company.key}}</span>
            <div class="progress-wrapper">
                <div class="progress-bar" [style.width.%]="company.value"></div>
            </div>
        </div>
    </div>

    <div class="bar-container">
        <div *ngFor="let tech of data.technologies | keyvalue" class="bar">
            <span>{{tech.key}}</span>
            <div class="progress-wrapper">
                <div class="progress-bar" [style.width.%]="tech.value"></div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClose()">Cerrar</button>
</div>
