.bar-container {
    margin-bottom: 10px;
}

.bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.bar span {
    width: 150px;
    display: inline-block;
}

.progress-wrapper {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 4px;
    height: 20px;
    position: relative;
}

.progress-bar {
    background-color: #3f51b5;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
