/* css/styles.css */
html, body {
    height: 100%;
    margin: 0;
}
#map {
    height: 100vh; /* Vista completa del alto de la ventana */
    width: 100vw;  /* Vista completa del ancho de la ventana */
}

#map {
    height: 100%;
    width: 100%;
}

@media (width < 900) {
    g {
        #map g {
            transform: translate(0, -30px);
        }
    }
}

@media (width >= 900) {
    g {
        #map g {
            scale: 3;
    transform: translate(-650px, -385px);
        }
    }
}

.leaflet-popup-content-wrapper {
    font-size: 14px;
    line-height: 1.4;
}

.leaflet-interactive:hover {
    stroke-width: 5px;
}

.canary-islands {
    transform: translate(100px, -200px);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
